<% unless comment.archived? %>
<div class="comment">

<span class="commenter">
<p>
  <strong>Commenter:</strong>
  <span><%= comment.commenter %></span>
</p>
</span>

<span class="body">
<p>
  <strong>Comment:</strong>
  <span><%= comment.body %></span>
</p>
</span>

<p>
 <%= link_to "Destroy Comment", [comment.article, comment], class: "a-primary", data: {
     turbo_method: :delete
 } %>
</p>
</div>

<% end %>