<h1>All Articles!</h1>

<div class="card border-dark mb-3" style="max-width: 18rem; background-color: white">
<div class="card-body">
Our blog has <%= Article.public_count %> articles!

<ul>
  <% @articles.each do |article| %>
   <% unless article.archived? %>
    <li>
      <%= link_to article.title, article %>
    </li>
   <% end %>
  <% end %>
</ul>
</div>
</div>
<%= link_to "New Article", new_article_path %>